@import "tailwindcss";

:root {
  --primary: #6D7C79;
  --secondary: #3A5DD8;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-white;
}

.nav {
  @apply cursor-pointer font-medium hover:font-bold
}
